.menu {
	width: 200px;
	border-right: 1px solid lightgray;
	overflow-y: auto;
	background-color: #FAFAFB;
	padding-top:10px;
}

.menuItem {
	font-size: 14px;
	margin-left: 10px;
	display: flex;
	align-items: center;
 }

.menuItem:hover {
	color: #4282ad;
}