.menu {
	width: 200px;
	border-right: 1px solid lightgray;
	overflow-y: auto;
	background-color: #FAFAFB;
	padding-top:15px;
}

.menuItem {
	font-size: 14px;
	height: 20px;
	display: flex;
	align-items: center;
	padding: 5px;
}

.menuItem:hover {
	color: #4282ad;
}